body {
    display: flex;
    justify-content: center;
}

div.wrapper main article img {
    width: 100%;

}

div.wrapper {
    width: 800px;
}

.wrapper header {
    height: 200px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper nav {
    height: 60px;
    background: #999;
    display: flex;
    align-items: center;
}

.wrapper nav a {
    color: #222;
    text-decoration: none;
    margin: 10px;
}

.wrapper section.content {
    display: flex;

}

.wrapper section.content main {
    flex: 2;
    padding: 15px;
}

.wrapper section.content main article {
    padding: 15px;
    background: #eee;
    margin-bottom: 15px;
}

.wrapper section.content aside {
    flex: 1;
    padding: 15px;
}

.wrapper footer {
    background: #eee;
    display: flex;
}

.wrapper footer section {
    flex: 1;
    padding: 15px;
}