body {
    font-family: Sora, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 5vw);
    grid-template-rows: repeat(auto, auto);
    gap: 2rem;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    height: 3rem;
    padding: 0.2rem;
}

.header1 a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.header1 a:hover {
    text-decoration: underline;
}

.header2 {
    display: flex;
    grid-column: 1 / 15;
    grid-row: 1 / 2;
    flex-direction: row;
    background-color: rgba(255, 192, 203, 0.63);
    border: solid 2px rgba(255, 192, 203, 0.378);
}

.header2 nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;;
    height: 2rem;
}

.header2 nav ul a {
    display: inline-block;
    margin-left: 1.5rem;
    justify-content: space-evenly;
    text-decoration: none;
    color: black
}

.header2 nav ul a:hover {
    text-decoration: underline;
}

.header2 img {
    width: 10rem;
    height: 5rem;
    margin-right: 1rem;
}

.header2 input[type=text] {
  padding: 0.2rem;
  border: none;
  font-size: 0.9rem;
  height: 2rem;
  width: 15rem;
  justify-content: left;
  border-radius: 2rem;
}

.header2 input[type=text]:focus {
  outline: none;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper .magnifying-glass {
  position: absolute;
  right: 0.1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8rem;
  height: 1.8rem;
  pointer-events: none;
  background: rgba(255, 255, 255, 0);
}

.splide {
    width: 30rem;
    height: 20rem;
}

.splide img {
    width: fill;
}

.about {
    flex-direction: column;
    grid-column: 1 / 6;
    width: 30rem;
    height: 30rem;
    margin: 2rem auto;
    border: solid 2px rgba(255, 192, 203, 0.378);
    padding: 1rem;
    background-color: rgba(255, 192, 203, 0.63);
}


.flex-center {
    display: flex;
    align-items: center;
}

.margin {
    margin: 2rem;
}

